body {
    background-color: #dfd8c5;
    margin: 20px;
    color: #333;
}

#pic {
    width: 274px;
    height: 233px;
    display: block;
    margin: 10px 0;
    border: 3px solid #888;
    border-radius: 8px;
    cursor: pointer;
}
