/* h1 {
    color: red;
    font-size: 36pt;
} */

/* #im2 {
    position: absolute;
    left: 0;
    top: 100px;
} */

/* #im2 {
    position:absolute; 
    left:0; 
    top:0;
} */

body {
    background-color: darkblue;
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 30px;
}

#frame {
    border: 50px inset gray;
    padding: 5px;
    display: inline-block;
    margin: 20px;
}

#poem {
    border: 5px outset #ffA089;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
}

#candle {
    width: 200px;
    height: 200px;
    border: 50px outset #ffA089;
    padding: 5px;
    display: none;
}

button {
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

hr {
    margin: 50px 0;
}

#container {
    position: relative;
    width: 50vw;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #444;
}

#bg {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
}

#bird {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}